@model ActivosFijos.Models.TiposActivo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TiposActivo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripicion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuentaContableCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuentaContableCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuentaContableDepreciacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuentaContableDepreciacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdtiposActivos">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
