@model ActivosFijos.Models.ActivosFijo

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ActivosFijo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoActivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepreciacionAcumulada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepreciacionAcumulada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuentaCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuentaCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuentaDepreciacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuentaDepreciacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IddepartamentoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IddepartamentoNavigation.Iddepartamentos)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdactivosFijos" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
